.form{
    background-color: rgb(229, 250, 174);
    border:10px;
    border-radius: 5px;
    margin-top: 5px;
   flex-wrap: wrap;
}
.container {
    width:35%;
    margin: 10px ;
    border: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 20px;
    background-color: rgba(187, 246, 128, 0);
    flex-wrap: wrap;
}

.form-group {
    margin-bottom: 10px;
    font-weight: bolder;  
    color:whitesmoke;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input[type="text"] {
    width: 50%;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    color:brown;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    
}

form button {
    background-color: olive;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 15%;
    align-content: center;
  
}

table {
    width: 75%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: right;
}

table th, table td {
    border: 1px solid whitesmoke;
    padding: 8px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}

thead {
    background-color:darkolivegreen;
    color: cornsilk;
    font-weight: bolder;
}
h1{
    text-align: left ;
    text-decoration: underline;
    color:whitesmoke;
}
#myElement {
    background-image: url('https://i.pinimg.com/originals/be/fa/23/befa23d6baa949188a35d16852aac008.jpg');
    background-size: cover;
    background-position: center;
    display: block;
    flex-wrap: wrap;
  }
  
